// Variables
@import 'variables';

.flex-wrap {
  flex-wrap: wrap;
}

.volume .v-input__control {
  margin: 10px 0;
}

.flex-none {
  flex: none !important;
}

.w-100 {
  width: 100%;
}

.d-content {
  display: contents !important;
}

.w-50 {
  width: 50%;
}

.text-light {
  color: white !important;
}

.a-default {
  color: inherit !important;
  text-decoration: none !important;
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iran-sans {
  font-family: IrSans, serif;
}

.headlines {
  font-family: IrSans, Roboto, sans-serif !important;
  line-height: 2rem !important;
  font-size: 20px !important;
}

.order {
  cursor: pointer !important;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.clickable {
  cursor: pointer !important;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bordered {
  border: 1px solid #dedede;
}

.fs-15 {
  font-size: 15px !important;
}

.rounded {
  border-radius: 5px !important;
}

.underline:hover {
  text-decoration: underline !important;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.v-navigation-drawer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.v-navigation-drawer::-webkit-scrollbar {
  width: 5px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.v-navigation-drawer::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.v-navigation-drawer__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.v-navigation-drawer__content::-webkit-scrollbar {
  width: 5px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}